html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

footer nav ul, header nav ul {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


header, header nav ul {
  background-color: yellow;
}

header nav ul li a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #04516B;
}

header section {
  color: #444547;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

section img {
  min-width: 0;
  max-width: 100%;
}

span {
  transform: rotateZ(-7deg);
}

header section div {
  align-self: center;
  margin-left: 10px;
}

header section div a {
  background-color: purple;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.depth {
  align-items: center;
  display: flex;
  justify-content: center;
}

.end-info img {
  max-width: 100%;
  min-width: 200px;
  min-height: 200px;
}

.end-info {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.info-container {
  display: flex;
  height: 500px;
  margin-top: 100px;
  margin-left: 35px;
}

.info {
  display: flex;
  -webkit-border-radius: 0 150px;
  border-radius: 0 150px;
  background: #27dbb7;
  height: 350px;
  justify-content: space-around;
  transform: rotate(9deg);
  transform-origin: top left;
  width: 90%;
}

.info-color {
  background-color: #d4ff02;
}

.info div {
  align-self: center;
}

.info div p, .info div h2 {
  transform: inherit;
}

section span {
  align-self: flex-end;
}

section span img  {
  width: 400px;
  height: 400px;
  transform: initial;
}

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro img {
  width: 50%;
  height: 50%;
}

.intro p {
  color: #3a3b3d;
}

.layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.layout .blur {
  -webkit-box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.75);
  padding: 10px;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}
