html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: yellow;
}

header nav div p a {
  color: #444547;
  font-size: 20px;
  text-decoration: none;
}

header section {
  color: #444547;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

section img {
  min-width: 0;
}

span {
  transform: rotateZ(-10deg);
}

header section div {
  align-self: center;
  margin-left: 10px;
}

header section div a {
  background-color: purple;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  color: #000;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #fff;
}

ul.topnav li.icon {
  display: none;
}

.info-container {
  height: 500px;
  margin-top: 100px;
}

.info {
  display: flex;
  height: 350px;
  padding: 1px;
  -webkit-border-radius: 0 150px;
  border-radius: 0 150px;
  background: #27dbb7;
  -webkit-transform: rotateZ(10deg);
  width: 95%;
  transform: rotateZ(10deg);
  justify-content: space-around;
}

.info div {
  align-self: center;
}

.info div p, .info div h2 {
  transform: inherit;
}

section span {
    align-self: flex-end;
}

section span img  {
  width: 400px;
  height: 400px;
  transform: initial;
}

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro img {
  width: 50%;
  height: 50%;
}

.intro p {
  color: #3a3b3d;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {￼
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
